<div class="navigation">
  <!-- <div class="edit" (click)='edit()'>编辑</div> -->
  <p class="navigation-title">期权T型报价</p>
</div>
<div class="zixuancontent">
  <div class="optionTitle">
    <span>
      50ETF
    </span>
    <span [class]="color(q50eft.upRatio)">
      {{q50eft.lastPrice}}
    </span>
    <span [class]="color(q50eft.upRatio)">
      {{q50eft.upDiff}}
    </span>
    <span [class]="color(q50eft.upRatio)">
      {{q50eft.upRatio}}
    </span>
  </div>
  <div class="optionTitle">
    <button (click)='change(item)' [class]="item == date?'active':''" *ngFor="let item of dateList">
      {{item}}
    </button>
  </div>
  <div class="notempty cclb">
    <div style="background: #efefef">
      <div class="table-flex">
        <div>
          涨跌幅(%)
        </div>
        <div>
          现价
        </div>
        <div>
          行权价
        </div>
        <div>
          现价
        </div>
        <div>
          涨跌幅(%)
        </div>
      </div>
    </div>
    <div class="zixuan-list">
      <div class="table-flex2" *ngFor='let a of quoteDetail'>
        <div (click)='goto(a.stockCodeBuy)' [class]="color(a.upRatioBuy)">
          {{a.upRatioBuy}}
        </div>
        <div (click)='goto(a.stockCodeBuy)' [class]="color(a.upRatioBuy)">
          {{a.lastPriceBuy | round4}}
        </div>
        <div>
          {{a.exercisePrice | round4}}
        </div>
        <div (click)='goto(a.stockCodeSell)' [class]="color(a.upRatioSell)">
          {{a.lastPriceSell | round4}}
        </div>
        <div (click)='goto(a.stockCodeSell)' [class]="color(a.upRatioSell)">
          {{a.upRatioSell}}
        </div>
      </div>
    </div>
  </div>
</div>
