<div class="navigation">
  <!-- <div class="edit" (click)='edit()'>编辑</div> -->
  <p class="navigation-title">期权T型报价</p>
  <img src="./assets/images/search1.png" alt="" class="search" (click)='goto()'>
</div>
<div class="zixuancontent">
  <div class="optionTitle">
    <span>
      50ETF
    </span>
    <span>
      2.3333
    </span>
    <span>
      -0.4444
    </span>
    <span>
      -2%
    </span>
  </div>
  <div class="optionTitle">
    <button class="active">
      1810
    </button>
    <button>
      1811
    </button>
    <button>
      1812
    </button>
    <button>
      1901
    </button>
  </div>
  <div class="notempty cclb" *ngIf='hasZixuan'>
    <div style="background: #efefef">
      <div class="table-flex">
        <div>
          涨跌幅(%)
        </div>
        <div>
          现价
        </div>
        <div>
          行权价
        </div>
        <div>
          现价
        </div>
        <div>
          涨跌幅(%)
        </div>
      </div>
    </div>
    <div class="zixuan-list">
      <div class="table-flex2" *ngFor='let a of list'>
        <div>
          {{a.stockName}} - {{a.stockCode}}
        </div>
        <div>
          {{a.lastPrice | toFixed}}
        </div>
        <div class="{{fontColor(a.upRatio)}}">
          {{a.upRatio}}
        </div>
        <div class="{{fontColor(a.diff)}}">
          {{a.diff}}
        </div>
      </div>
    </div>
  </div>
</div>
