.footer {
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: #fff;
  height: 48px;
  border-top: solid 1px #e6e6e6;
  width: 100vw;
}

.footer-div {
  flex: 1;
  padding-top: 6px;
}


.footer-div p {
  font-size: .8rem;
  margin-top: 4px;
  color: #898989;
}

.icon {
  width: 20px;
  height: 20px;
  margin: auto;
  background: url(../../assets/images/index-gray.png) no-repeat;
  background-size: 194%;
  background-position: -9px -4px;
}


.icon-active .icon {
  background: url(../../assets/images/index-active.png) no-repeat;
  background-size: 194%;
  background-position: -9px -4px;
}

.hangqing,
.icon-active .hangqing {
  background-position: -9px -48px;
}

.geren,
.icon-active .geren {
  background-position: -10px -165px;
}

.zichan,
.icon-active .zichan {
  background-position: -9px -126px;
}

.jiaoyi,
.icon-active .jiaoyi {
  background-position: -9px -87px;
}

.icon-active p {
  background: linear-gradient(to right top, #ff0036, #ff9102);
  -webkit-background-clip: text;
  color: transparent;
}
