.member-content {
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.member-content div:last-child {
  border-bottom: none;
}

.member-item {
  padding: 1px 15px;
  border-left: solid 5px #b00e23;
  background: #fff;
  margin-bottom: 5px;
  font-size: .9rem;
}

.member-item p span {
  display: inline-block;
  width: 45%;
}
