.member-content {
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.member-item:nth-child(3n) {
  border-left: solid 5px #ffcd1e;
}

.member-item:nth-child(3n+1) {
  border-left: solid 5px #1a91ec;
}

.member-item {
  padding: 1px 15px;
  background: #fff;
  border-left: solid 5px #d56919;
  margin-top: 5px;
  font-size: .9rem;
}

.member-item p span {
  display: inline-block;
  width: 45%;
}

.input-search-div {
  background: #fff;
  height: 32px;
  padding: 10px;
}

.search-input {
  height: 30px;
  padding: 0 10px;
  width: calc(100vw - 90px);
  border: solid 1px #515151;
  border-radius: 50px;
  float: left;
}

.search-input input {
  width: calc(100% - 60px);
  border: none;
  height: calc(100% - 3px);
  border-radius: 50px;
  background: none;
  float: left;
}

.search-input button{
  width: 25px;
  height: 25px;
  float: right;
  border: none;
  background: url(../../../assets/images/close.png) no-repeat;
  background-size: 100% 100%;
  background-position-y: 2px;
}

.input-search-div .search {
  height: 30px;
  width: 30px;
  float: right;
  border: none;
  background: url(../../../assets/images/search.png) no-repeat;
  background-size: 80% 80%;
  background-position-y: 4px;
}