.member-content {
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.member-item:nth-child(3n) {
  border-left: solid 5px #ffcd1e;
}

.member-item:nth-child(3n+1) {
  border-left: solid 5px #1a91ec;
}

.member-item {
  padding: 1px 15px;
  background: #fff;
  border-left: solid 5px #d56919;
  margin-top: 5px;
  font-size: .9rem;
}

.member-item p span {
  display: inline-block;
  width: 45%;
}
