<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">充值</p>
</div>
<p style="margin-left: 10px;">
  请选择充值金额
</p>
<div class="money-div">
  <div [class]="money == item?'active':''" *ngFor="let item of list" (click)='select(item)'>
    {{item}}元
  </div>
  <div>
    <input class="recharge-input" type="number" placeholder="输入整数金额" (keyup)='input()' [(ngModel)]="inputMoney">
  </div>
</div>
<div class="pay-way">
  <img src="./assets/images/ali.png" alt="">
  <span>支付宝支付</span>
  <div class="radio"></div>
</div>
<div class="bottom-btn" style="margin-top:20px;">
  <div class="main" (click)='pay()'>支付</div>
</div>
