.tabs {
  width: 100vw;
  display: flex;
  border-bottom: solid 5px #f8f8f8;
}

.tabs button {
  flex: 1;
  background: #fff;
  border: none;
  height: 47px;
  line-height: 46px;
  color: #333;
  outline: none;
}

.tabs-active {
  line-height: 46px !important;
  height: 46px !important;
  border-bottom: solid 1px #E72D23 !important;
  color: #E72D23 !important;
}

.cclb {
  background: #fff;
}

.cclb table {
  width: 100%;
  text-align: center;
  /* border-top: solid 1px #ccc; */
  font-size: .9rem;
}

.cclb table tr, .cclb table tr td {
  height: 40px;
  border-bottom: solid 1px rgb(238, 238, 238);
}

.cclb table tr:first-child {
  background: #ececec !important;
}

.green {
  color: green;
}

.red {
  color: #E72D23;
}

.table-div {
  display: flex;
  height: 57px;
  line-height: 57px;
  border-top: solid 1px #ececec;
  background: #fff;
}

.table-div div {
  flex: 1;
  text-align: center;
  font-size: .9rem;
  position: relative;
  z-index: 10;
  color: #595757;
}

.table-div div:nth-child(2) {
  flex: .8;
}

.table-div div p {
  margin: 0;
  font-size: .85rem;
  line-height: 20px;
  margin-top: 5px;
}

.caozuo {
  display: flex;
  background: rgba(247, 247, 247, 1);
  color: rgba(89, 87, 87, 1);
  box-shadow: 0px 4px 12px 1px rgba(137, 137, 137, 0.26);
  z-index: 11;
  position: relative;
}

.caozuo div {
  flex: 1;
  text-align: center;
  height: 52px;
  line-height: 52px;
}

.icon {
  width: 23px;
  height: 23px;
  display: inline-block;
  background: url(../../assets/images/hold-icon.png) no-repeat;
  vertical-align: middle;
  background-size: 100% 500%;
  margin-top: -5px;
}

.caozuo .sell {
  background-position-y: -23px;
}

.caozuo .sell2 {
  background-position-y: -46px;
}

.caozuo .sell3 {
  background-position-y: -92px;
}

.caozuo .detail {
  background-position-y: -69px;
}

.stop-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0618;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

.stop-div {
  width: 100vw;
  background: #fff;
  position: fixed;
  bottom: 0;
}

.stop-div-title {
  padding: 10px 15px;
  color: #fff;
  background: #E72D23;
  font-size: 15px;
}

.stop-div-input {
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e8e8e8;
}

.stop-div-input span {
  user-select: none;
  display: inline-block;
}

.stop-div-input span:first-child {
  width: 65px;
}

.stop-div-input-button {
  border: solid 1px rgb(192, 192, 192);
  text-align: center;
  font-size: 16px;
  padding: 0 8px;
  padding-bottom: 3px;
  color: rgb(128, 128, 128);
}

.stop-div-input input {
  width: 60px;
  margin: 0 8px;
  text-align: center;
  border: solid 1px rgb(192, 192, 192);
  color: rgb(85, 85, 85);
  height: 25px;
  font-size: 14px;
}

.stop-div-input-button:active{
  background: #e8e8e8;
}

.stop-div-button{
  width: 100vw;
  display: flex;
  border-top: solid 1px #e8e8e8;
}

.stop-div-button button{
  flex: 1;
  height: 40px;
  border: none;
  font-size: 13px;
  background: #fff;
}
.stop-div-tips{
  padding: 10px 15px;
}

.stop-div-tips p{
  margin: 0;
  font-size: 12px;
  color: #4e4e4e;
}
.stop-div-button button:last-child{
  color: #fff;
  background: #E72D23;
}