<div class='tabs'>
  <button [class]="type == 0?'tabs-active':''" (click)='changeType(0)'>
    合并持仓
  </button>
  <button [class]="type == 1?'tabs-active':''" (click)='changeType(1)'>
    分笔持仓
  </button>
</div>
<div *ngIf="type == 0" style='padding-bottom:50px;'>
  <!-- <div class="cclb">
    <table cellspacing="0">
      <tr>
        <td>
          名称
        </td>
        <td>
          盈亏
        </td>
        <td>
          持仓/可用
        </td>
        <td>
          参考成本/现价
        </td>
      </tr>
      <tr *ngFor='let a of list'>
        <td>
          <p>{{a.stockCode}}</p>
          <p>{{a.stockName}}</p>
        </td>
        <td>
          <p class="{{a.profit < 0?'green':'red'}}">
            {{a.profit}}
          </p>
        </td>
        <td>
          <p>
            {{a.stockCnt}}
          </p>
          <p>
            {{a.stockCntAble}}
          </p>
        </td>
        <td>
          <p>
            {{a.costPrice}}
          </p>
          <p>
            {{a.lastPrice}}
          </p>
        </td>
      </tr>
    </table>
  </div> -->
  <div class='table-div' style='border-top: none;line-height: 50px;height: 50px;'>
    <div>名称</div>
    <div>盈亏/保证金</div>
    <div>持仓/可用</div>
    <div>参考成本/现价</div>
  </div>
  <div *ngFor='let a of list;let index = index;' (click)='caozuo = index'>
    <div class='table-div table-content'>
      <div>
        <span class="span {{a.holdType == 2?'blue':''}}" style='margin-top: 20px;'>{{a.holdTypeDesc}}</span>
        <p>{{a.stockCode}}</p>
        <p>{{a.stockName | replace:'50ETF'}}</p>
      </div>
      <div>
        <p class="{{a.profit < 0?'green':'red'}}">
          {{a.profit}}
        </p>
        <p>
          {{a.deposit}}
        </p>
      </div>
      <div>
        <p>
          {{a.stockCnt}}
        </p>
        <p>
          {{a.stockCntAble}}
        </p>
      </div>
      <div>
        <p>
          {{a.costPrice}}
        </p>
        <p>
          {{a.lastPrice}}
        </p>
      </div>
    </div>
    <div class='caozuo' *ngIf="caozuo == index;">
      <div (click)='detail(a.stockCode)'>
        <a class='icon detail'></a> 详情
      </div>
      <div (click)='select(a,"buy")'>
        <a class='icon'></a> 买入
      </div>
      <div (click)='select(a,"sell")'>
        <a class='icon sell'></a> 卖出
      </div>
      <div (click)='submitAlert(a)'>
        <a class='icon sell2'></a> 一键平仓
      </div>
    </div>
  </div>
</div>
<div *ngIf="type == 1" style='padding-bottom:50px;'>
  <div class='table-div' style='border-top: none;line-height: 50px;height: 50px;'>
    <div>名称/代码</div>
    <div style='flex:1'>成交均价/市价</div>
    <div>盈亏额/市值</div>
    <div>持仓数量/保证金</div>
  </div>
  <div *ngFor='let a of list;let index = index;' (click)='caozuo = index'>
    <div class='table-div table-content'>
      <div>
        <span class="span {{a.holdType == 2?'blue':''}}" style='margin-top: 20px;' >{{a.holdTypeDesc}}</span>
        <p>{{a.stockName | replace:'50ETF'}}</p>
        <p>{{a.stockCode}}</p>
      </div>
      <div style='flex:1'>
        <p>{{a.dealAvgPrice}}</p>
        <p>{{a.lastPrice}}</p>
      </div>
      <div>
        <p [class]="a.profit < 0?'green':'red'">
          {{a.profit}}
        </p>
        <p>
          {{a.uncloseDealAmount}}
        </p>
      </div>
      <div>
        <p >
          {{a.unclose}}
        </p>
        <p >
          {{a.depositReal}}
        </p>
      </div>
    </div>
  </div>
</div>
