<div class='tabs'>
  <button [class]="type == 0?'tabs-active':''" (click)='changeType(0)'>
    合并持仓
  </button>
  <button [class]="type == 1?'tabs-active':''" (click)='changeType(1)'>
    分笔持仓
  </button>
</div>
<div *ngIf="type == 0" style='padding-bottom:50px;'>
  <!-- <div class="cclb">
    <table cellspacing="0">
      <tr>
        <td>
          名称
        </td>
        <td>
          盈亏
        </td>
        <td>
          持仓/可用
        </td>
        <td>
          参考成本/现价
        </td>
      </tr>
      <tr *ngFor='let a of list'>
        <td>
          <p>{{a.stockCode}}</p>
          <p>{{a.stockName}}</p>
        </td>
        <td>
          <p class="{{a.profit < 0?'green':'red'}}">
            {{a.profit}}
          </p>
        </td>
        <td>
          <p>
            {{a.stockCnt}}
          </p>
          <p>
            {{a.stockCntAble}}
          </p>
        </td>
        <td>
          <p>
            {{a.costPrice}}
          </p>
          <p>
            {{a.lastPrice}}
          </p>
        </td>
      </tr>
    </table>
  </div> -->
  <div class='table-div' style='border-top: none;line-height: 50px;height: 50px;'>
    <div style="width: 30px;flex: auto;">名称</div>
    <div>盈亏</div>
    <div>持仓/可用</div>
    <div>参考成本/现价</div>
  </div>
  <div *ngFor='let a of list;let index = index;' (click)='caozuo = index'>
    <div class='table-div table-content'>
      <div style="width: 30px;flex: auto;">
        <p>{{a.stockCode}}</p>
        <p>{{a.stockName | replace:'50ETF'}}</p>
      </div>
      <div>
        <p style='line-height: 57px;margin-top: 0;' class="{{a.profit < 0?'green':'red'}}">
          {{a.profit}}
        </p>
      </div>
      <div>
        <p>
          {{a.stockCnt}}
        </p>
        <p>
          {{a.stockCntAble}}
        </p>
      </div>
      <div>
        <p>
          {{a.costPrice}}
        </p>
        <p>
          {{a.lastPrice}}
        </p>
      </div>
    </div>
    <div class='caozuo' *ngIf="caozuo == index;">
      <div (click)='detail(a.stockCode)'>
        <a class='icon detail'></a> 详情
      </div>
      <div (click)='select(a,"buy")'>
        <a class='icon'></a> 买入
      </div>
      <div (click)='select(a,"sell")'>
        <a class='icon sell'></a> 卖出
      </div>
      <div (click)='submitAlert(a)'>
        <a class='icon sell2'></a> 一键平仓
      </div>
    </div>
  </div>
</div>
<div *ngIf="type == 1" style='padding-bottom:50px;'>
  <div class='table-div' style='border-top: none;line-height: 50px;height: 50px;'>
    <div>名称/代码</div>
    <div style='flex:1'>成交均价/市价</div>
    <div>盈亏额/市值</div>
    <div>持仓数量</div>
  </div>
  <div *ngFor='let a of list;let index = index;' (click)='caozuo = index'>
    <div class='table-div table-content'>
      <div>
        <p>{{a.stockName | replace:'50ETF'}}</p>
        <p>{{a.stockCode}}</p>
      </div>
      <div style='flex:1'>
        <p>{{a.dealAvgPrice}}</p>
        <p>{{a.lastPrice}}</p>
      </div>
      <div>
        <p [class]="a.profit < 0?'green':'red'">
          {{a.profit}}
        </p>
        <p>
          {{a.uncloseDealAmount}}
        </p>
      </div>
      <div>
        <p style='line-height: 57px;margin-top: 0;'>
          {{a.unclose}}
        </p>
      </div>
    </div>
    <div class='caozuo' *ngIf="caozuo == index;">
      <div (click)='detail(a.stockCode)'>
        <a class='icon detail'></a> 详情
      </div>
      <!-- <div (click)='select(a,"buy")'>
      <a class='icon'></a> 买入
    </div>
    <div (click)='select(a,"sell")'>
      <a class='icon sell'></a> 卖出
    </div> -->
      <div (click)='submitAlert(a)'>
        <a class='icon sell2'></a> 一键平仓
      </div>
      <div (click)='stopWinOrLose(a)'>
        <a class='icon sell3'></a> 止盈止损
      </div>
    </div>
  </div>
</div>
<div class="stop-bg" *ngIf="stopDiv">
  <div class="stop-div">
    <div class="stop-div-title">
      <span>修改止盈止损</span>
    </div>
    <div class="stop-div-input">
      <span>
        止盈
      </span>
      <span class="stop-div-input-button" (click)="add(-1,0)">
        -
      </span>
      <input type="number" [(ngModel)]="stopWin">
      <span class="stop-div-input-button" (click)="add(1,0)">
        +
      </span>
      <span style="margin-left: 20px;margin-right: 10px;">
        涨幅约
      </span>
      <span class="red">
        {{winOrLostRate(stopWin)}}
      </span>
    </div>
    <div class="stop-div-input">
      <span>
        止损
      </span>
      <span class="stop-div-input-button" (click)="add(-1,1)">
        -
      </span>
      <input type="number" [(ngModel)]="stopLose">
      <span class="stop-div-input-button" (click)="add(1,1)">
        +
      </span>
      <span style="margin-left: 20px;margin-right: 10px;">
        跌幅约
      </span>
      <span class="green">
        {{winOrLostRate(stopLose)}}
      </span>
    </div>
    <div class="stop-div-tips">
      <p>
        当日云条件盈损单，只保证触发，不保证成交。（成交价是由交易所根据行情撮合产生的，不是由软件决定的。）
      </p>
      <p>
        注意三点:
      </p>
      <p>
        1,如果持仓为0，自动解除。
      </p>
      <p>
        2,当日有效，收盘后自动解除。
      </p>
      <p>
        3,止损止盈单不保证成交，且实际成交价与触发价之间可能存在点差。
      </p>
    </div>
    <div class="stop-div-button">
      <button (click)="closeStop()">取消</button>
      <button (click)="submitStop()">确定</button>
    </div>
  </div>
</div>