<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">绑定银行卡</p>
</div>
<div class="cell-list">
  <div class="list-item">
    <select name="" id=""></select>
    <span class="span-title">
      开户银行
    </span>
    <span>
      中国银行
    </span>
    <img src="./assets/images/right.png" class="right-icon" alt="">
  </div>
  <div class="list-item">
    <select name="" id=""></select>
    <span class="span-title">
      开户银行省份
    </span>
    <span>
      福建
    </span>
    <img src="./assets/images/right.png" class="right-icon" alt="">
  </div>
  <div class="list-item">
    <select name="" id=""></select>
    <span class="span-title">
      开户银行城市
    </span>
    <span>
      福州
    </span>
    <img src="./assets/images/right.png" class="right-icon" alt="">
  </div>
  <div class="list-item">
    <select name="" id=""></select>
    <span class="span-title">
      开户银行支行
    </span>
    <span>
      福州
    </span>
    <img src="./assets/images/right.png" class="right-icon" alt="">
  </div>
  <div class="list-item">
    <span class="span-title">
      卡号
    </span>
    <input type="number">
  </div>
  <div class="list-item">
    <span class="span-title">
      户名
    </span>
    <input type="text">
  </div>
  <div class="list-item">
    <span class="span-title">
      身份证
    </span>
    <input type="text">
  </div>
  <div class="list-item">
    <span class="span-title">
      手机
    </span>
    <input type="number">
  </div>
</div>

<div class="bottom-btn" style="margin-top:20px;">
  <div class="main" (click)='buy()'>完成</div>
</div>
