.chedang-div div {
  flex: 1;
}

.chedang-div div p {
  margin: 10px 0;
  margin-left: 20px;
}

.cclb {
  background: #fff;
}

.cclb table {
  width: 100%;
  font-size: .9rem;
  text-align: center;
}

.cclb table tr {
  height: 36px;
}

.cclb table tr:first-child {
  background: #ececec;
}

.span {
  float: left;
  margin-top: 14px;
  font-size: .7rem;
  display: block;
  border: solid 1px #b00e23;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-left: 2px;
  color: #b00e23;
  margin-right: 2px;
}

.blue {
  color: #145c90 !important;
  border: solid 1px #145c90 !important;
}

.zichan {
  background: #b00e23;
  color: #fff;
  width: 100vw;
  text-align: center;
  padding: 14px 0px;
  font-size: 1rem;
  border-bottom: solid 1px #e6e6e6;
}

.zichan div {
  font-size: .9rem;
  flex: 1;
  border-right: solid 1px #e6e6e6;
}

.zichan div:last-child {
  border-right: none;
}

.zichan p {
  margin: 4px 0;
}
