.menuList {
  display: flex;
  text-align: center;
  background: #fff;
  width: 100vw;
  box-shadow: 0px 5px 8px 1px rgba(217, 217, 217, 0.27);
}

.footer-div {
  flex: 1;
  padding-top: 13px;
}

.footer-div p {
  font-size: .9rem;
  margin-top: 4px;
  color: #898989;
}

.icon {
  width: 26px;
  height: 26px;
  margin: auto;
  background: url(../../assets/images/menulist.png) no-repeat;
  background-size: 873%;
  background-position: -11px -10px;
  margin-bottom: 4px;
}

.sell {
  background-position: -55px -10px;
}

.chedan {
  background-position: -99px -10px;
}

.chicang {
  background-position: -146px -10px;
}

.search {
  background-position: -192px -10px;
}

.header {
  height: 142px;
  position: relative;
}

.header .banner {
  height: 142px;
  position: absolute;
  z-index: 1;
  width: 100vw;
}

.header .head {
  width: 45px;
  height: 45px;
  float: left;
  position: absolute;
  z-index: 10;
  margin: 20px;
  background: #fff;
  border-radius: 45px;
}

.header .name {
  float: left;
  position: absolute;
  z-index: 10;
  margin: 35px 80px;
  color: #fff;
}

.header .setting {
  float: right;
  position: relative;
  z-index: 10;
  width: 25px;
  margin: 20px;
}

.header .caozuo {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  float: left;
  width: 100vw;
  display: flex;
}

.header .caozuo button {
  flex: 1;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.header .caozuo button:nth-child(2) {
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

.userInfo {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  padding: 15px 11px;
}

.userInfo-flex p:last-child {
  font-size: .85rem;
}

.userInfo-icon {
  width: 45px;
  height: 45px;
  position: relative;
  float: left;
  margin: 4px 15px;
  background: url(../../assets/images/label.png) no-repeat;
  background-size: 100% 500%;
}

.userInfo-flex {
  width: calc(50vw - 21px);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 17px 1px rgba(208, 208, 208, 0.35);
  border-radius: 8px;
  margin: 0 5px;
  margin-top: 20px;
  padding: 15px 0px;
}

.userInfo-flex p {
  margin: 5px;
}

.zzc {
  background-position-y: -45px;
}

.ccqy {
  background-position-y: -92px;
}

.kyzj {
  background-position-y: -138px;
}

.djzj {
  background-position-y: -183px;
}
