<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">提现</p>
</div>
<div class="list-item" (click)='goto("transfer")'>
  <span>人民币提现</span>

  <img class="right-icon" src="./assets/images/right.png" alt="">
  <div>
    <span>可提现余额：</span>
    <span class="red">{{backableScale}}</span>
  </div>
</div>
<div *ngIf="delayFeeLock != '0'" class='feelock'>
  延期费用冻结：{{delayFeeLock}}元
</div>
<div class="list-item" (click)='goto("bankcardlist")'>
  <span>银行卡</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
