.list-item {
  height: 45px;
  line-height: 45px;
  background: #fff;
}

.list-item .right-icon {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 16px;
}

.list-item span:nth-child(1) {
  margin-left: 10px;
}

.feelock {
  text-align: right;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  font-size: .9rem;
  color: #9a9a9a;
}

.list-item div {
  float: right;
  margin-right: 10px;
}

.list-item div span:nth-child(1) {
  color: #9a9a9a;
}

.list-item:active {
  background: rgb(245, 245, 245);
}