#qrcodeDiv {
  padding: 30px;
}

#qrcodeDiv p {
  color: #E72D23;
}

#qrcode {
  text-align: center;
  width: 256px;
  margin-left: 50%;
  left: -128px;
  position: relative;
  height: 280px;
  margin-top: 20px;
}
