<div class="cclb">
  <table cellspacing="0">
    <tr>
      <td>
        名称
      </td>
      <td>
        盈亏
      </td>
      <td>
        持仓/可用
      </td>
      <td>
        参考成本/现价
      </td>
    </tr>
    <tr *ngFor='let a of list' (click)='select(a)'>
      <td>
        <span class="span {{a.holdType == 2?'blue':''}}" style="margin-top: 7px;">{{a.holdTypeDesc}}</span>
        <p>{{a.stockCode}}</p>
        <p>{{a.stockName | replace:'50ETF'}}</p>
      </td>
      <td>
        <p class="{{a.profit < 0?'green':'red'}}">
          {{a.profit}}
        </p>
        <!-- <p>
          {{a.commission}}
        </p> -->
      </td>
      <td>
        <p>
          {{a.stockCnt}}
        </p>
        <p>
          {{a.stockCntAble}}
        </p>
      </td>
      <td>
        <p>
          {{a.costPrice}}
        </p>
        <p>
          {{a.lastPrice}}
        </p>
      </td>
    </tr>
  </table>
</div>
