.payment-amount {
  text-align: center;
  font-size: 2rem;
  color: #b00e23;
}

.payment-amount span {
  font-size: 1rem;
  color: #333;
  margin-left: 10px;
}

.input-code {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
}

.input-code-div {
  width: 90vw;
  margin-left: 5vw;
  background: #fff;
  margin-top: 10vh;
}

.input-code-div .title {
  font-weight: bold;
  text-align: center;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border-bottom: solid 1px #ccc;
}

.input-code-div .title span:last-child {
  float: right;
  margin-right: 10px;
  margin-top: -56px;
  color: #b00e23;
}

.code-input {
  width: 301px;
  display: flex;
  margin: 20px auto;
}

.code-input input {
  width: 49px;
  height: 45px;
  text-align: center;
  font-size: 40px;
  border: solid 1px #ccc;
  border-right: none;
}

.code-input input:last-child {
  border-right: solid 1px #ccc;
}

.code-input2 input {
  margin: auto;
  border: none;
  height: 40px;
  border-bottom: solid 1px #ccc;
  width: 60%;
  text-align: center;
  margin: 20px;
  margin-left: 20%;
  font-size: 30px;
}

.input-code-div button {
  width: 100%;
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #b00e23;
}

.input-code-div button:disabled {
  background: #ccc;
}

.bank-limit {
  width: 100vw;
  margin-top: 20px;
}

.bank-limit table {
  width: calc(100% - 24px);
  margin-left: 12px;
  padding-bottom: 40px;
  text-align: center;
}

.bank-limit table tr{
  height: 30px;
}

.bank-limit table tr:first-child{
  font-weight: bold;
}

.bank-limit table tr td{
  width: 33%;
}

.payment-content {
  overflow-y: auto;
  height: calc(100vh - 48px);
}

iframe{
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  border: none;
}