.swiper-container {
  width: 100vw;
}

.swiper-container img {
  width: 100%;
}

.index {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.tabs {
  display: flex;
  height: 90px;
}

.tabs .tabs-div {
  flex: 1;
  text-align: center;
  background: #fff;
  padding-top: 10px;
}

.tabs .tabs-div2 {
  flex: 1;
  text-align: center;
  font-size: .8rem;
  background: #fff;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 7px 21px 3px rgba(83, 56, 56, 0.08);
}

.tabs .tabs-div2 p {
  margin: 6px 0;
}

.tabs .tabs-div2 p:last-child {
  font-size: 0.8rem;
}

.tabs .tabs-div .tab-icon {
  margin: auto;
  width: 50px;
  height: 50px;
  background: url(../../assets/images/tab-icon.png) no-repeat;
  background-size: 100% 400%;
}

.jiaoyi {
  background-position-y: -50px !important;
}

.zichan {
  background-position-y: -100px !important;
}

.geren {
  background-position-y: -150px !important;
}

.tabs .tabs-div p {
  margin: 4px 0;
  color: #3c3c3c;
}

.zixun {
  background: #fff;
}

.zixun-title {
  border-bottom: solid 1px #e4e4e4;
  height: 40px;
}

.up-down {
  width: 8px;
  height: 12px;
  display: inline-block;
  background: url(../../assets/images/arrow.png) no-repeat;
  background-size: 100% 200%;
  margin: -1px 4px;
}

.isDown {
  background-position-y: -12px;
}

.zixun-title img {
  width: 20px;
  height: 16px;
  vertical-align: middle;
  margin: -3px 7px 0 16px;
}

.zixun-title span {
  line-height: 40px;
}

.zixun-content {
  padding: 5px 15px;
  border-bottom: solid 1px #e4e4e4;
}

.content-title {
  font-size: .9rem;
}

.content-info {
  font-size: .8rem;
  color: #868686;
}

.pop-notice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.notice-bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

.notice-content {
  width: calc(100vw - 120px);
  padding: 20px 30px;
  margin-left: 30px;
  top: 15vh;
  background: #fff;
  max-height: 500px;
  border-radius: 10px;
  position: fixed;
}

.notice-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.notice-text {
  font-size: 16px;
  margin-top: 30px;
  line-height: 30px;
}

.notice-btn {
  width: 100%;
  height: 45px;
  border: none;
  margin-top: 40px;
  color: #fff;
  background: #b00;
  border-radius: 5px;
  font-size: 16px;
}