<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">详情</p>
</div>
<div class="content">
  <div class="cell-list" *ngIf="text =='委托'">
    <div class="list-item">
      <span class="list-item-name">
        委托时间
      </span>
      <span class="list-item-content">
        {{detail.orderDateDesc}} {{detail.orderTimeDesc}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        委托编号
      </span>
      <span class="list-item-content">
        {{detail.pkorder}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        产品编号
      </span>
      <span class="list-item-content">
        {{detail.productcode}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        合约代码
      </span>
      <span class="list-item-content">
        {{detail.stockno}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        合约名称
      </span>
      <span class="list-item-content">
        {{detail.stockName}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        保证金
      </span>
      <span class="list-item-content">
        {{detail.depositReal}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        买卖方向
      </span>
      <span class="list-item-content">
        {{detail.subtypeDesc}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        标志
      </span>
      <span class="list-item-content">
        {{detail.entruststatusDesc}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        委托价
      </span>
      <span class="list-item-content">
        {{detail.entrustprice}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        成交均价
      </span>
      <span class="list-item-content">
        {{detail.dealavrprice}}
      </span>
    </div>

    <div class="list-item">
      <span class="list-item-name">
        委托量
      </span>
      <span class="list-item-content">
        {{detail.stockcnt}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        成交量
      </span>
      <span class="list-item-content">
        {{detail.dealcnt}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        手续费
      </span>
      <span class="list-item-content">
        {{detail.commission}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        成交金额
      </span>
      <span class="list-item-content">
        {{detail.dealAmount}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        发生金额
      </span>
      <span class="list-item-content">
        {{detail.happenAmount}}
      </span>
    </div>
  </div>
  <div class="cell-list" *ngIf="text =='成交'">
    <div class="list-item">
      <span class="list-item-name">
        委托时间
      </span>
      <span class="list-item-content">
        {{detail.dealtime}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        委托编号
      </span>
      <span class="list-item-content">
        {{detail.orderno}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        产品编号
      </span>
      <span class="list-item-content">
        {{detail.productcode}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        合约代码
      </span>
      <span class="list-item-content">
        {{detail.stockno}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        合约名称
      </span>
      <span class="list-item-content">
        {{detail.stockName}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        保证金
      </span>
      <span class="list-item-content">
        {{detail.depositReal}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        买卖方向
      </span>
      <span class="list-item-content">
        {{detail.bstypeDesc}}
      </span>
    </div>

    <div class="list-item">
      <span class="list-item-name">
        成交均价
      </span>
      <span class="list-item-content">
        {{detail.dealprice}}
      </span>
    </div>

    <!-- <div class="list-item">
      <span class="list-item-name">
        委托量
      </span>
      <span class="list-item-content">
        {{detail.stockcnt}}
      </span>
    </div> -->
    <div class="list-item">
      <span class="list-item-name">
        成交量
      </span>
      <span class="list-item-content">
        {{detail.dealcnt}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        手续费
      </span>
      <span class="list-item-content">
        {{detail.commission}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        成交金额
      </span>
      <span class="list-item-content">
        {{detail.dealAmount}}
      </span>
    </div>
    <div class="list-item">
      <span class="list-item-name">
        发生金额
      </span>
      <span class="list-item-content">
        {{detail.happenAmount}}
      </span>
    </div>
  </div>
</div>
