/* You can add global styles to this file, and also import other style files */

@import './assets/css/swiper.min.css';
html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: '微软雅黑';
  color: #373737;
  background: #f8f8f8;
  overflow: hidden;
}

.Body {
  padding: 5px 20px;
}

.Body img {
  width: 100%;
}

input:read-only {
  color: graytext;
}

button {
  outline: none;
}

.navigation {
  position: relative;
  top: 0;
  width: 100vw;
  text-align: center;
  height: 49px;
  line-height: 49px;
  background: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: 0px 1px 3px 0px rgba(83, 56, 56, 0.08);
}

.tabs-top {
  width: 126px;
  display: flex;
  border: solid 1px #b00e23;
  border-radius: 3px;
  height: 22px;
  font-size: 12px;
  margin: auto;
  top: 13px;
  position: relative;
}

.SELL .main {
  background: #145c90 !important;
  border: solid 1px #145c90 !important;
}

.tabs-top button:first-child {
  border-right: solid 1px #b00e23;
}

.tabs-top button {
  flex: 1;
  border: none;
  background: none;
  color: #b00e23;
  line-height: 22px;
}

.tabs-top .active-btn {
  background: #b00e23 !important;
  color: #fff !important;
}

.main-content {
  height: calc(100vh - 94px);
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.demonstration {
  position: fixed;
  top: 50px;
  font-size: 30px;
  color: #fff;
  right: 40px;
  background: #E72D23;
  z-index: 100;
}

.chedang-div {
  background: #fff;
  text-align: center;
  display: flex;
  font-size: 1.1rem;
  margin-top: 2px;
  border-bottom: solid 1px #efefef;
}

.navigation-title {
  margin: 0;
  position: absolute;
  width: 100vw;
}

/* .alert {
  bottom: 100px;
  position: fixed;
  z-index: 0618;
  background: rgba(70, 70, 70, 0.8);
  width: 80%;
  left: 10%;
  height: 40px;
  border-radius: 7px;
  line-height: 40px;
  color: #fff;
  text-align: center;
} */

table td p {
  margin: 5px 0;
  font-size: .9rem;
}

.search-div {
  position: absolute;
  width: 100%;
  background: #f9f9f9;
  border-top: solid 1px #ececec;
  height: 400px;
  z-index: 0617;
  overflow-y: auto;
}

.blue {
  color: #145c90 !important;
}

.blue-border {
  color: #145c90 !important;
  border: solid 1px #145c90 !important;
}

.search-div div {
  display: flex;
  border-bottom: solid 1px #ececec;
  margin: 0 !important;
  height: 40px;
  line-height: 40px;
}

.search-div div div {
  flex: 1;
}

.search-div div div span {
  margin: auto;
}

.loading {
  position: fixed;
  z-index: 0618;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.32);
  top: 0;
  text-align: center;
}

.red {
  color: #E72D23 !important;
}

.green {
  color: green !important;
}

.submit-alert {
  width: 100vw;
  height: 100vh;
  z-index: 0618;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.66);
}

.alert-div {
  background: #fff;
  width: 85%;
  margin-left: 7%;
  margin-top: 10%;
  border-radius: 5px;
}

.alert-div p {
  margin-left: 10%;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 80%;
  height: 25px;
}

.alert-div p span:first-child {
  display: block;
  width: 101px;
  float: left;
}

.alert-div p span {
  color: #353535;
  font-size: .9rem;
  float: right;
}

.alert-div p:nth-child(1) {
  font-size: 1.4rem;
  text-align: center;
  padding: 30px 0;
  margin-left: 0;
  font-weight: bold;
  width: 100%;
}

.submit-btn {
  width: 90%;
  margin-left: 5%;
  height: 43px;
  color: #fff;
  background: #E72D23;
  border: solid 1px #E72D23;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
  outline: none;
}

.cancel-btn {
  width: 90%;
  margin-left: 5%;
  height: 43px;
  color: #000;
  background: #F8F8F8;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1.2rem;
}

.icon4 {
  background: url('./assets/images/icon4.png') no-repeat;
  height: 25px;
  width: 25px;
  float: left;
  margin-left: 22px;
  margin-top: 21px;
  margin-right: -37px;
  background-size: 100%;
}

.djzj {
  background: url('./assets/images/icon1.png') no-repeat;
  background-size: 100%;
}

.gpsz {
  background: url('./assets/images/icon3.png') no-repeat;
  background-size: 100%;
}

.kyzj {
  background: url('./assets/images/icon2.png') no-repeat;
  background-size: 100%;
}

.navigation .back {
  width: 20px;
  height: 20px;
  background: url(./assets/images/back.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  z-index: 10;
}

.bottom-btn {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.bottom-btn div {
  border-radius: 5px;
  font-size: 16px;
  user-select: none;
}

.bottom-btn .main {
  flex: 1;
  background: #E72D23;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 1px #E72D23;
  margin: 3px 2vw;
}

.bottom-btn .main:active {
  background: #8a0a1b;
}

.bottom-btn .clear {
  flex: 1;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f8f8f8;
  border: solid 1px #ddd;
  color: #000;
  margin: 0px 2vw;
}

.bottom-btn .clear:active {
  background: #c9c9c9;
}

.stopLoad {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #969696;
}

.translate-btn {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  position: relative;
  z-index: 10;
  color: #000;
  text-decoration: none;
}

.confirm {
  background: rgba(0, 0, 0, 0.308);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0618;
  top: 0;
}

.confirm div {
  width: 60vw;
  margin-left: 20vw;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  margin-top: 30vh;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.2);
}

.confirm .title {
  font-size: 1.1rem;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.confirm .content {
  padding: 10px 20px;
  margin-top: 0;
  font-size: .9rem;
}

.confirm button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #fff;
  color: #007aff;
  border-top: solid 1px #f1f1f1;
  font-size: 1.1rem;
}

.cell-list {
  border-top: solid 1px #e5e5e5;
  /* border-bottom: solid 1px #e5e5e5; */
  padding-left: 20px;
  background: #fff;
  color: #333;
  text-align: left;
}

.cell-list .list-item:last-child {
  border-bottom: none !important;
}

.list-item {
  height: 45px;
  line-height: 45px;
  background: #fff;
  border-bottom: solid 1px #f1f1f1;
  overflow-x: hidden;
}

.list-item-content {
  float: right;
  margin-right: 20px;
  max-width: calc(100vw - 120px);
  text-align: right;
}

.list-item select {
  width: 65%;
  position: relative;
  font-size: 1rem;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item input {
  height: 36px;
  width: 60%;
  margin-left: 3px;
  font-size: 15px;
  border: none;
}

.list-item .span-title {
  display: inline-block;
  width: 30%;
}

.list-item .right-icon {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}


.span {
  float: left;
  margin-top: 14px;
  font-size: .7rem;
  display: block;
  border: solid 1px #b00e23;
  border-radius: 5px;
  width: 13px;
  line-height: 16px;
  margin-left: 2px;
  color: #b00e23;
  margin-right: 2px;
}

@media screen and (max-width: 320px) {
  body, html {
    font-size: 12px;
  }
}