.cclb {
  background: #fff;
}

.cclb table {
  width: 100%;
  text-align: center;

}

.cclb table tr {
  height: 36px;
}

.cclb table tr:first-child {
  background: #ececec;
}

.chicang {
  height: calc(100vh - 100px);
  overflow-y: auto;
}


.zichan {
  background: #E72D23;
  color: #fff;
  width: 100vw;
  text-align: center;
  padding: 14px 0px;
  font-size: 1rem;
  border-bottom: solid 1px #e6e6e6;
}

.zichan div {
  font-size: .85rem;
  flex: 1;
  border-right: solid 1px #e6e6e6;
}

.zichan div:last-child {
  border-right: none;
}

.zichan p {
  margin: 4px 0;
}
